<% var idField = adminpanel.configHelper.getIdentifierField(instance.config.model) %>
<tr>
    <% Object.keys(fields).forEach(function(key) { %>
        <% var field = fields[key] %>
        <% var value = obj[key] %>
        <td class="text-content-container">
        <% if (field.model.type == "boolean") { %>
            <iron-icon icon="<%=value ? "check-circle" : "cancel" %>"></iron-icon>
        <% } else if (field.model.type == "association") { %>
            <% if (!value) { %>
                &nbsp;
            <% } else if (typeof value === 'string') { %>
                <%= value %>
            <% } else { %>
                <% if (value && value[field.config.displayField]) { %>
                  <a href='/admin/<%= pluralize(field.model.model.charAt(0).toLowerCase() + field.model.model.slice(1)) %>/view/<%= value[field.config.identifierField] %>'>
                    <%= value[field.config.displayField] %>
                  </a>
                <% } else { %>
                  &nbsp;
                <% } %>
            <% } %>
        <% } else if(field.model.type == "association-many") { %>
            <% if(value.length){ %>
                <% value.forEach(function (elem) { %>
                  <a href='/admin/<%= pluralize(field.model.collection.charAt(0).toLowerCase() + field.model.collection.slice(1))%>/view/<%= elem[field.config.identifierField] %>'>
                    <%= elem[field.config.displayField] %>
                  </a><br/>
                <% }) %>
            <% }else{ %>
               &nbsp;
            <% } %>
        <% } else { %>
            <% var textAreaTypes = ['text', 'longtext', 'mediumtext', 'json', 'array'] %>
            <% if (field.config.enum) { %>
                <%= field.config.enum[value] %>
            <% } else if (field.config.type === 'image') { %>
                <img class='image-field' src=<%- value %>>
            <% } else if (textAreaTypes.indexOf(field.config.type)) { %>
                <div class='text-field'>
                  <%= value %>
                </div>
            <% } else { %>
                <%= value %>
            <% } %>
        <% } %>
        </td>
    <% }) %>
    <td class="actions">

        <% include inlineActions %>

        <% if (instance.config.view) { %>
            <a href="<%= instance.uri %>/view/<%= obj[idField] %>">
                <iron-icon icon="visibility"></iron-icon>
            </a>
        <% } %>
        <% if (instance.config.edit) { %>
            <a href="<%= instance.uri %>/edit/<%= obj[idField] %>">
                <iron-icon icon="create"></iron-icon>
            </a>
        <% } %>
        <% if (instance.config.remove) { %>
            <a href="<%= instance.uri %>/remove/<%= obj[idField] %>" onclick="return confirm('Are you sure ?')">
                <iron-icon icon="delete"></iron-icon>
            </a>
        <% } %>
    </td>
</tr>
